@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: var(--font-open-sans);
}

html {
  @apply flex flex-1 h-full w-full;
}

body {
  @apply bg-gray-950 flex flex-1 h-full w-full;
  color: white;
}

h1 {
  font-family: var(--font-roboto-mono);
}
